doctype html
link(href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
script(src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js")
script(src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js")